<header class="main-header">
    <div class="header-wrapper">
        <a href="#" class="a logo">
            <img src="/img/finished_logo.png" width="130">
        </a>
        <a href="#" class="a nav-link">Owl News</a>
        <div class="search-block me-3">
            <div class="search-container">
                <table class="elementsContainer">
                    <div class="search-container">
                        <input placeholder="Type to search..." required="" class="input" name="text" type="text">
                        <div class="icon">
                            <svg viewBox="0 0 512 512" class="ionicon" xmlns="http://www.w3.org/2000/svg">
                                <title>Search</title>
                                <path stroke-width="32" stroke-miterlimit="10" stroke="currentColor" fill="none" d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z"></path>
                                <path d="M338.29 338.29L448 448" stroke-width="32" stroke-miterlimit="10" stroke-linecap="round" stroke="currentColor" fill="none"></path>
                            </svg>
                        </div>
                    </div>
                    <!-- <tr>
                        <td>
                            <input type="" placeholder="—   —   —   —   —   —"
                            class="search ">
                        </td>
                        <td>
                            <a href="#">
                                <img class="search-logo" src="img/lupa2.png" alt="lupa">
                            </a>
                        </td>
                    </tr> -->
                </table>
            </div>
        </div>
    </div>
</header>