<div class="main-wrapper">
    <div class="img-wrapper">
        <marquee class="news-string">
            <img src="https://deepstatemap.live/images/custom/enemy.png" width="35px">
            Особового складу – близько 113 390
            <img src="https://deepstatemap.live/images/custom/eblorussia.png" width="35px">
            Танків – 3 094
            <img src="https://deepstatemap.live/images/custom/iblorussia.png" width="35px">
            Бойових броньованих машин (ББМ) – 6 159
            артилерійських систем – 2 082 (+4);реактивних систем залпового вогню (РСЗВ) – 437 (+0);засобів протиповітряної оборони – 218 (+1);літаків – 285 (+0);гелікоптерів – 276 (+1);безпілотників оперативно-тактичного рівня – 1 865 (+3);крилатих ракет – 723 (+0);катерів/кораблів – 17 (+0);автомобільної техніки і цистерн з паливом – 4 826 (+0);спеціальної техніки – 184 (+0).
        </marquee>
    </div>
</div>