<div class="circles-block">
    <div class="sites-logo">
        <a class="a logo-link" href="#">
            <div class="circle-logo">
                <h1 class="circle-text">
                    Logo text
                </h1>
            </div>
        </a>
        <a class="a logo-link" href="#">
            <div class="circle-logo">
                <h1 class="circle-text">
                    Logo text
                </h1>
            </div>
        </a>
        <a class="a logo-link" href="#">
            <div class="circle-logo">
                <h1 class="circle-text">
                    Logo text
                </h1>
            </div>
        </a>
        <a class="a logo-link" href="#">
            <div class="circle-logo">
                <h1 class="circle-text">
                    Logo text
                </h1>
            </div>
        </a>
    </div>
</div>