*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  background:#f4f1de;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

a{
  text-decoration: none;
}


.main-class{

}

.header-wrapper{
  background:  #81b29a;
  width: 100%;
  height: 100px;  
  display: flex;
  justify-content: space-between;
  align-items: center;   
  /* border-radius: 0%; */
  box-sizing: border-box;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 5px 15px;
}

.header-image {

  display: inline-block;
  padding: 25px 11px;
}

.header{
  height:100%;
  width:100%;
  padding: 20px 0;
  border: 1px solid green;
  
}

.header-sitename-position{
  
}

.nav-link{
  position: absolute;
  color:#f4f1de;
  font-family: 'Archivo Narrow', sans-serif;
  margin-left: 180px;
  font-size: 45px;
}

.nav-link:hover{
  color: white;
}

.news-string{
  background-color: #e07a5f;
  color: #f4f1de;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  border: 1px solid #e27a5f;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 5px 15px;
  width: 100%;
}

.img-wrapper{
  display: flex;
  align-items: center;
  height:80px;
  justify-content: space-around ;  
}


.main{
  width: 100%;
  padding: 0 50px;

}

.in-main{
  display: flex;
  justify-content: space-around ;
  width: 100%;
  /* padding: 0 500px; */
/* max-width: 1200px; */
  
}

.main-wrapper{
  width: 100%;
  margin: 0 auto;
}

.circles-position{
  /* position: fixed; */
  /* display: flex;
  justify-content: space-around ;  */
  /* position:absolute; */
/* padding-left: 200px; */
}

.sites-logo{
  /* position: relative; */
  /* align-items: center; */
  /* background: red; */
  height: fit-content;
  /* width: 120px; */
  padding: 0px 10px ;
}

.circle-logo{
  margin-bottom: 10px;
  background: #81b29a;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-color: white;
  border: 3px solid #dce4d0;
  text-align: center;
}

.circle-text{
  color: #3d405b;
  margin: auto;
  width: 100%;
  padding: 40px 10px;
  font-size: 12px;
}



.block-news{
  background: #3d405b;
  width: 1000px;
  height: calc(100% + 20px);
  /* padding-top: 20px; */
  /* max-width: 1200px; */
}

.search-block{
  width: 100%;
  height: 25px;
}

.search-container{
  /* position: absolute; */
  float: right;
  /* margin-bottom: 20px; */
  margin-left: 20%;
}

.news{
  display: flex;
  padding: 20px 20px 20px 20px;
  /* align-items: center; */
  /* justify-content: center; */
}

.news-photo{
  height: 200px;
  width: 320px;
  border: 1px solid #f4f1de;
}

.info-list{
  display: inline-block;

}

.news-title{
  color: #f2cc8f;
  padding-left: 10px;
}

.title-line{
  margin-top: -5px;
  margin-left: 5px;
  height: 3px;
  width: 600px;
  background: #f4f1de;
  border-radius: 100px;
}

.news-time{
  color: #f2cc8f;
  padding-left: 10px;
  padding-top: 5px;
}

.news-text{
  margin-top: 10px;
  max-width: 600px;
  padding-left: 10px;
  font-size: 20px;
  color: #f4f1de;
}

.block-map{
  /* width: 100%; */
  margin-left: 20px;
  background: #3d405b;
  width: 200px;
  height: 200px;
}