@model IEnumerable<OwlNews.Models.News>
@{
    ViewData["Title"] = "Owl News - Main Map";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@
@*<div class="circles-block">
    <div class="sites-logo">
        <a class="a logo-link" href="#">
            <div class="circle-logo">
                <h1 class="circle-text">
                    Logo text
                </h1>
            </div>
        </a>
        <a class="a logo-link" href="#">
            <div class="circle-logo">
                <h1 class="circle-text">
                    Logo text
                </h1>
            </div>
        </a>
        <a class="a logo-link" href="#">
            <div class="circle-logo">
                <h1 class="circle-text">
                    Logo text
                </h1>
            </div>
        </a>
        <a class="a logo-link" href="#">
            <div class="circle-logo">
                <h1 class="circle-text">
                    Logo text
                </h1>
            </div>
        </a>
    </div>
</div>
<div class="block-news">

    @foreach (var dbItem in Model) {
    <div class="news">
        <li class="info-list">
            <a class="a" href="#">
                    <img class="news-photo" src=@dbItem.newsTitle>
            </a>
        </li>
        <li class="info-list">
            <div>
                    <a class="a" href=@dbItem.newsLink>
                        <h1 class="news-title">@Html.DisplayFor(modelItem => dbItem.imgLink)</h1>
                </a>
                <div class="title-line"></div>

                <a class="a" href="#">
                        <div class="news-time">@Html.DisplayFor(modelItem => dbItem.dayAndtime)</div>
                </a>
                <a class="a" href="#">
                    <div class="news-text">@Html.DisplayFor(modelItem => dbItem.newsText)</div>
                </a>
            </div>
        </li>
    </div>
    }
</div>
<div class="block-map">
    <h1 style="color: white;">Map Map Map Map Map Map Map Map Map Map Map Map</h1>

    <div class="energy-block">
        <h1 class="energy-text">Розклад відключення світла</h1>
        <div class="energy-arrow">
            <ion-icon class="arrow" name="caret-down-outline"></ion-icon>
        </div>
    </div>
</div>*@
<div class="map">
		<svg viewBox="30 20 1900 1030">
                                
			<g class="region" id="11"><a asp-controller="News" asp-action="Luhansk">
				<title>   Луганська </title>
				<polygon points="      1597,466 1599,467 1602,470 1603,477 1606,475 1612,478 1617,480 1621,481 1623,482 1629,482 1636,478 1639,477 1644,477 1645,478 1645,481 1644,485 1643,486 1643,490 1652,499 1653,501 1653,508 1651,517 1647,534 1646,535 1642,538 1646,540 1647,541 1649,541 1653,538 1653,543 1648,565 1647,569 1645,571 1646,572 1649,575 1650,577 1650,583 1649,586 1649,589 1652,589 1653,590 1659,590 1659,592 1653,620 1652,622 1651,627 1649,636 1647,645 1645,653 1644,655 1643,656 1641,657 1632,657 1628,656 1611,656 1605,657 1599,656 1594,656 1592,655 1591,653 1590,649 1591,643 1592,638 1593,632 1594,627 1594,619 1593,616 1588,613  1582,612 1576,611 1573,609 1572,605 1570,603 1567,601 1559,600 1555,597 1553,595 1549,589 1538,589 1537,588 1537,586 1541,584 1540,581 1534,576 1531,576 1525,573 1524,568 1519,562 1519,556 1520,552 1519,549 1518,542 1513,538 1510,533 1502,532 1495,531 1498,528 1496,523 1496,517 1493,514 1483,514 1481,513 1484,510 1479,508 1479,507  1481,504 1482,502 1476,493 1477,491 1481,486 1481,475 1483,468 1481,466 1479,466 1479,465 1484,462 1484,460 1482,459 1482,458 1485,456 1482,452 1483,451 1490,449 1491,444 1490,442 1491,439 1494,439 1496,440 1503,446 1508,447 1513,448 1523,448 1528,450 1533,453 1538,454 1541,455 1545,457 1548,459 1555,461 1559,460 1556,456 1567,456 1576,465 1581,467 1591,466" />
				<g inkscape:label="layer1" inkscape:groupmode="layer" id="l1-luhansk" transform="translate(1550,500)">
					<ellipse style="fill:#3b405b;fill-opacity:1;" id="path1680" cx="16.5" cy="27" rx="16.5" ry="8" />
					<ellipse style="fill:#81b39b;fill-opacity:1;" id="path2460" cx="16.5" cy="26.5" rx="13.5" ry="5" />
					<ellipse style="fill:#3b405b;fill-opacity:1;" id="path2514" cx="16.5" cy="26.200001" rx="8.5" ry="3.5" />
					<ellipse style="fill:#ffffff;" id="path900" cx="16.578062" cy="8.5784473" rx="10.078063" ry="8.5784473" />
					<path sodipodi:type="star" style="fill:#ffffff;fill-opacity:1;" id="path3459" inkscape:flatsided="false" sodipodi:sides="3" sodipodi:cx="6.0952125" sodipodi:cy="17.737392" sodipodi:r1="7.4174542" sodipodi:r2="3.7087271" sodipodi:arg1="1.5707963" sodipodi:arg2="2.6179939" inkscape:rounded="0" inkscape:randomized="0" d="m 6.0952127,25.154847 -3.2118522,-5.563091 -3.21185195,-5.563091 6.42370395,0 6.4237035,0 -3.2118517,5.563091 z" inkscape:transform-center-y="2.1923152" transform="matrix(1.3830775,0,0,1.1822464,8.1482892,-3.9713375)" />
					<ellipse style="fill:#81b39d;fill-opacity:1;" id="path115" cx="16.466213" cy="8.5147161" rx="5.9662137" ry="5.5147161" />
				</g>
			</a></g>
			
			<g  class='region'  id="4"><a asp-controller="Home" asp-action="Index">
				<title>   Донецька </title>
				<polygon points="      1587,615 1589,618 1590,623 1590,626 1589,631 1587,640 1585,649 1584,653 1574,653 1569,655 1565,660 1564,663 1562,667 1559,670 1555,672 1548,674 1544,675 1539,676 1534,678 1535,679 1538,679 1539,681 1538,683 1538,687 1537,691 1536,696 1535 702 1534,706 1533,708 1530,711 1530,714 1529,719 1528,723 1527,725 1526,726 1523,725 1521,724 1519,723 1514,723 1511,722 1498,721 1484,723 1478,725 1473,727 1472,728 1471,728 1470,729 1466,733 1465,735 1464,737 1462,739 1459,739 1455,738 1448,738 1443,741 1440,742 1438,740 1439,736 1440,729 1441,717 1441,712 1443,710 1441,708 1449,706 1448,705 1448,703 1449,702 1445,699 1440,698 1428,688 1427,688 1428,687 1431,685 1431,682 1430,679 1437,679 1442,675 1443,672 1445,672 1448,673 1450,671 1451,662 1449,661 1441,661 1432,653 1427,652 1421,652 1411,648 1409,646 1406,641 1399,633 1395,632 1393,628 1390,624 1391,623 1396,622 1397,620 1392,614 1390,610 1391,608 1394,608 1407,611 1402,611 1416,608 1414,601 1415,599 1417,596 1417,591 1411,586 1407,584 1406,581 1406,577 1407,573 1410,566 1408,563 1400,562 1396,560 1394,558 1392,549 1393,547 1395,547 1397,548 1403,546 1408 546 1417,549 1419,546 1417,545 1421,543 1428,543 1430,538 1433,536 1438,533 1438,528 1443,523 1458,515 1459,512 1453 511 1453,509 1460,509 1475,511 1477,514 1482,517 1489,516 1490,516 1491,525 1492,527 1489,530 1491,533 1505,534 1507,537 1513,544 1514,546 1514,552 1513,555 1513,560 1524,577 1530,577 1535,582 1535,582 1535,583 1531,586 1535,590 1545,591 1548,594 1548,594 1549,598 1556,601 1561,602 1566,604 1567,605 1567,609 1572,612 1573,613 1581,613 1585,614"/>
			</a></g>
			<g inkscape:label="layer1" inkscape:groupmode="layer" id="l1-donetsk" transform="translate(1460,578)">
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path1680" cx="16.5" cy="27" rx="16.5" ry="8" />
			<ellipse style="fill:#81b39b;fill-opacity:1;" id="path2460" cx="16.5" cy="26.5" rx="13.5" ry="5" />
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path2514" cx="16.5" cy="26.200001" rx="8.5" ry="3.5" />
			<ellipse style="fill:#ffffff;" id="path900" cx="16.578062" cy="8.5784473" rx="10.078063" ry="8.5784473" />
			<path sodipodi:type="star" style="fill:#ffffff;fill-opacity:1;" id="path3459" inkscape:flatsided="false" sodipodi:sides="3" sodipodi:cx="6.0952125" sodipodi:cy="17.737392" sodipodi:r1="7.4174542" sodipodi:r2="3.7087271" sodipodi:arg1="1.5707963" sodipodi:arg2="2.6179939" inkscape:rounded="0" inkscape:randomized="0" d="m 6.0952127,25.154847 -3.2118522,-5.563091 -3.21185195,-5.563091 6.42370395,0 6.4237035,0 -3.2118517,5.563091 z" inkscape:transform-center-y="2.1923152" transform="matrix(1.3830775,0,0,1.1822464,8.1482892,-3.9713375)" />
			<ellipse style="fill:#81b39d;fill-opacity:1;" id="path115" cx="16.466213" cy="8.5147161" rx="5.9662137" ry="5.5147161" />
			</g>
  
  
  			<g class='region' id="19"><a asp-controller="News" asp-action="Kharkiv">
			<title>   Харківська </title>
			<polygon points="      1402,410 1411,414 1416,410 1420,409 1421,409 1429,412 1430,416 1436,418 1438,420 1439,427 1447,434 1465,443 1470,446 1479,455 1479,456 1477,457 1477,460 1478,462 1473,464 1474,467 1477,468 1477,472 1475,486 1471,490 1471,493 1474,500 1477,502 1477,504 1473,508 1463,508 1448,507 1446,511 1453,513 1452,515 1440,521 1432,527 1432,530 1433,531 1433,533 1428,535 1425,540 1422,541 1415,542 1410,545 1401,545 1392,546 1388,545 1387,546 1389,553 1389,559 1387,560 1383,560 1378,558 1368,558 1363,565 1360,562 1359,557 1348,551 1348,547 1339,541 1340,534 1335,537 1336,535 1330,531 1325,530 1300,530 1292,528 1264,515 1253,513 1250,511 1249,508 1249,504 1253,502 1270,502 1275,500 1277,494 	1278,495 1278,491 1275,490 1275,488 1276,487 1283,487 1286,485 1283,483 1283,482 1286,479 1286,478 1281,471 1279,469 1270,469 1264,464 1259,456 1247,454 1244,453 1240,451 1235,447 1235,442 1239,438 1239,432 1240,430 1246,430 1252,425 1261,425 1264,422 1268,420 1271,420 1273,418 1276,418 1280,420 1283,418 1294,418 1299,413 1304,410 1310,409 	1318,409 1324,410 1326,411 1337,420 1343,422 1346,420 1332,420 1357,422 1357,425 1360,427 1367,427 1372,424 1382,418 1385,417" 	/></a></g>
			<g
			inkscape:label="layer1"
			inkscape:groupmode="layer"
			id="l1-kharkiv"
			transform="translate(1340,450)">
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path1680" cx="16.5" cy="27" rx="16.5" ry="8" />
			<ellipse style="fill:#81b39b;fill-opacity:1;" id="path2460" cx="16.5" cy="26.5" rx="13.5" ry="5" />
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path2514" cx="16.5" cy="26.200001" rx="8.5" ry="3.5" />
			<ellipse style="fill:#ffffff;" id="path900" cx="16.578062" cy="8.5784473" rx="10.078063" ry="8.5784473" />
			<path sodipodi:type="star" style="fill:#ffffff;fill-opacity:1;" id="path3459" inkscape:flatsided="false" sodipodi:sides="3" sodipodi:cx="6.0952125" sodipodi:cy="17.737392" sodipodi:r1="7.4174542" sodipodi:r2="3.7087271" sodipodi:arg1="1.5707963" sodipodi:arg2="2.6179939" inkscape:rounded="0" inkscape:randomized="0" d="m 6.0952127,25.154847 -3.2118522,-5.563091 -3.21185195,-5.563091 6.42370395,0 6.4237035,0 -3.2118517,5.563091 z" inkscape:transform-center-y="2.1923152" transform="matrix(1.3830775,0,0,1.1822464,8.1482892,-3.9713375)" />
			<ellipse style="fill:#81b39d;fill-opacity:1;" id="path115" cx="16.466213" cy="8.5147161" rx="5.9662137" ry="5.5147161" />
			</g>


			<g  class="region" id="7"><a asp-controller="News" asp-action="Zaporizhzhia">
			<title>   Запорізька </title>
			<polygon points="      1388,630 1392,634 1396,635 1400,639 1403,645 1405,647 1405,650 1411,650 1418,654 1422,655 1428,655 1438,663 1445,664 1445,668 1444,670 1438,671 1430,678 1428,677 1425,676 1424,679 1426,682 1426,684 1421,686 1423,688 1426,690 1435,698 1439,700 1443,701 1443,708 1437,709 1437,717 1433,741 1431,744 1419,754 1416,754 1411,753 1409,752 
			1394,753 1386,756 1380,759 1375,765 1367,762 1349,762 1341,765 1330,770 1302,791 1298,791 1297,802 1295,807 1288,814 1279,819 1277,819 1278,799 1277,788 1283,782 1285,772 1280,759 1277,754 1272,751 1264,750 1261,746 1255,746 1252,743 1252,738 1248,734 1244,733 1244,731 1253,723 1253,717 1235,703 1231,697 1228,691 1226,681 1225,675 1216,677 
			1210,677 1204,668 1203,664 1204,661 1212,658 1226,655 1236,655 1246,656 1255,656 1259,649 1260,642 1259,637 1255,634 1254,628 1248,625 1248,623 1254,620 1255,618 1248,613 1248,611 1249,608 1254,608 1261,605 1266,604 1277,604 1291,606 1304,608 1307,605 1312,604 1316,605 1326,606 1330,608 1336,607 1337,612 1344,615 1346,619 1349,621 1349,623 
			1346,626 1351,629 1359,628 1363,631 1373,630" />
			</a></g>
						<g
			inkscape:label="layer1"
			inkscape:groupmode="layer"
			id="l1-zaporizhzhya"
			transform="translate(1309,655)">
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path1680" cx="16.5" cy="27" rx="16.5" ry="8" />
			<ellipse style="fill:#81b39b;fill-opacity:1;" id="path2460" cx="16.5" cy="26.5" rx="13.5" ry="5" />
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path2514" cx="16.5" cy="26.200001" rx="8.5" ry="3.5" />
			<ellipse style="fill:#ffffff;" id="path900" cx="16.578062" cy="8.5784473" rx="10.078063" ry="8.5784473" />
			<path sodipodi:type="star" style="fill:#ffffff;fill-opacity:1;" id="path3459" inkscape:flatsided="false" sodipodi:sides="3" sodipodi:cx="6.0952125" sodipodi:cy="17.737392" sodipodi:r1="7.4174542" sodipodi:r2="3.7087271" sodipodi:arg1="1.5707963" sodipodi:arg2="2.6179939" inkscape:rounded="0" inkscape:randomized="0" d="m 6.0952127,25.154847 -3.2118522,-5.563091 -3.21185195,-5.563091 6.42370395,0 6.4237035,0 -3.2118517,5.563091 z" inkscape:transform-center-y="2.1923152" transform="matrix(1.3830775,0,0,1.1822464,8.1482892,-3.9713375)" />
			<ellipse style="fill:#81b39d;fill-opacity:1;" id="path115" cx="16.466213" cy="8.5147161" rx="5.9662137" ry="5.5147161" />
			</g>
			
			<g  class="region" id="3"><a asp-controller="News" asp-action="Dnipro">
			<title>   Дніпропетровська </title>
			<polygon points=" 1259,516 1294,531 1330,534 1331,540 1342,546 1343,551 1355,558 1358,569 1367,567 1373,560 1378,559 1387,562 1393,561 1394,568 1401,568 1404,563 1405,567 1401,578 1403,586 1411,591 1412,596 1410,609 1390,607 1386,612 1392,620 1386,622 1386,627 1364,629 1358,626 1355,628 1352,627 1354,619 1350,619 1347,611 1341,610 1337,605 1324,606 1310,603 1300,605 1260,603 1251,606 1247,603 1243,613 1251,619 1245,622 1246,627 1251,630 1255,653 1227,653 1156,659 1144,651 1127,657 1107,657 1101,651 1100,641 1106,638 1104,623 1102,619 1103,612 1116,607 1125,600 1140,592 1133,569 1160,557 1159,555 1143,551 1142,547 1148,545 1162,547 1167,541 1190,549 1196,549 1200,541 1197,536 1198,531 1203,525 1237,514"
			/> </a></g>
			<g
			inkscape:label="layer1" inkscape:groupmode="layer" id="l1-dnipropetrovsk" transform="translate(1228,551)">
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path1680" cx="16.5" cy="27" rx="16.5" ry="8" />
			<ellipse style="fill:#81b39b;fill-opacity:1;" id="path2460" cx="16.5" cy="26.5" rx="13.5" ry="5" />
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path2514" cx="16.5" cy="26.200001" rx="8.5" ry="3.5" />
			<ellipse style="fill:#ffffff;" id="path900" cx="16.578062" cy="8.5784473" rx="10.078063" ry="8.5784473" />
			<path sodipodi:type="star" style="fill:#ffffff;fill-opacity:1;" id="path3459" inkscape:flatsided="false" sodipodi:sides="3" sodipodi:cx="6.0952125" sodipodi:cy="17.737392" sodipodi:r1="7.4174542" sodipodi:r2="3.7087271" sodipodi:arg1="1.5707963" sodipodi:arg2="2.6179939" inkscape:rounded="0" inkscape:randomized="0" d="m 6.0952127,25.154847 -3.2118522,-5.563091 -3.21185195,-5.563091 6.42370395,0 6.4237035,0 -3.2118517,5.563091 z" inkscape:transform-center-y="2.1923152" transform="matrix(1.3830775,0,0,1.1822464,8.1482892,-3.9713375)" />
			<ellipse style="fill:#81b39d;fill-opacity:1;" id="path115" cx="16.466213" cy="8.5147161" rx="5.9662137" ry="5.5147161" />
			</g>
			
			<g  class="region" id="15"><a asp-controller="News" asp-action="Poltava">
			<title>   Полтавська </title>
			<polygon points=" 1245,512 1245,503 1250,501 1267,501 1273,497 1273,492 1270,486 1280,486 1277,481 1281,478 1277,471 1268,471 1258,461 1257,457 1241,454 1231,447 1233,433 1223,432 1200,434 1199,430 1202,428 1195,422 1191,421 1189,414 1180,401 1167,406 1151,401 1151,406 1107,399 1093,403 1073,414 1050,414 1038,411 1022,418 1022,425 1026,430 1034,430 1032,434 1033,438 1046,448 1044,452 1044,456 1074,480 1069,486 1078,506 1122,524 1120,528 1136,535 1160,534 1190,547 1193,547 1195,539 1192,533 1209,519 1228,513"
			/> </a></g>
			<g
			inkscape:label="layer1" inkscape:groupmode="layer" id="l1-poltava" transform="translate(1122,435)">
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path1680" cx="16.5" cy="27" rx="16.5" ry="8" />
			<ellipse style="fill:#81b39b;fill-opacity:1;" id="path2460" cx="16.5" cy="26.5" rx="13.5" ry="5" />
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path2514" cx="16.5" cy="26.200001" rx="8.5" ry="3.5" />
			<ellipse style="fill:#ffffff;" id="path900" cx="16.578062" cy="8.5784473" rx="10.078063" ry="8.5784473" />
			<path sodipodi:type="star" style="fill:#ffffff;fill-opacity:1;" id="path3459" inkscape:flatsided="false" sodipodi:sides="3" sodipodi:cx="6.0952125" sodipodi:cy="17.737392" sodipodi:r1="7.4174542" sodipodi:r2="3.7087271" sodipodi:arg1="1.5707963" sodipodi:arg2="2.6179939" inkscape:rounded="0" inkscape:randomized="0" d="m 6.0952127,25.154847 -3.2118522,-5.563091 -3.21185195,-5.563091 6.42370395,0 6.4237035,0 -3.2118517,5.563091 z" inkscape:transform-center-y="2.1923152" transform="matrix(1.3830775,0,0,1.1822464,8.1482892,-3.9713375)" />
			<ellipse style="fill:#81b39d;fill-opacity:1;" id="path115" cx="16.466213" cy="8.5147161" rx="5.9662137" ry="5.5147161" />
			</g>
			
			<g  class="region" id="20"><a asp-controller="News" asp-action="Kherson">
			<title>   Херсонська </title>
			<polygon points=" 1231,799 1213,787 1199,787 1165,777 1159,780 1158,785 1152,785 1141,807 1130,795 1125,795 1125,780 1123,777 1120,779 1117,795 1107,788 1105,791 1110,794 1110,805 1104,814 1086,817 1071,821 1071,792 1077,789 1096,791 1081,787 1067,791 1063,813 1058,815 1042,813 1039,784 1021,776 1030,781 1027,811 980,801 975,795 974,765 978,761 983,770 984,749 1000,747 1000,761 991,759 988,764 988,771 1005,774 1001,771 1001,766 1007,767 1008,775 1009,776 1010,768 1017,764 1005,762 1005,751 1051,754 1057,747 1072,739 1071,736 1045,748 1038,746 1029,749 1018,747 1017,730 1031,729 1038,723 1046,724 1052,720 1061,721 1065,718 1072,718 1074,721 1093,719 1094,715 1102,711 1107,702 1096,696 1099,690 1111,686 1111,674 1108,669 1111,664 1109,653 1125,659 1142,654 1152,662 1190,660 1210,679 1221,680 1231,705 1248,715 1248,721 1239,730 1239,734 1247,737 1248,744 1258,748 1261,752 1274,755 1279,773 1262,782 1262,798 1277,822 1264,815 1255,800 1247,798"
			/> </a></g>
			<g
			inkscape:label="layer1" inkscape:groupmode="layer" id="l1-kherson" transform="translate(1140,698)">
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path1680" cx="16.5" cy="27" rx="16.5" ry="8" />
			<ellipse style="fill:#81b39b;fill-opacity:1;" id="path2460" cx="16.5" cy="26.5" rx="13.5" ry="5" />
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path2514" cx="16.5" cy="26.200001" rx="8.5" ry="3.5" />
			<ellipse style="fill:#ffffff;" id="path900" cx="16.578062" cy="8.5784473" rx="10.078063" ry="8.5784473" />
			<path sodipodi:type="star" style="fill:#ffffff;fill-opacity:1;" id="path3459" inkscape:flatsided="false" sodipodi:sides="3" sodipodi:cx="6.0952125" sodipodi:cy="17.737392" sodipodi:r1="7.4174542" sodipodi:r2="3.7087271" sodipodi:arg1="1.5707963" sodipodi:arg2="2.6179939" inkscape:rounded="0" inkscape:randomized="0" d="m 6.0952127,25.154847 -3.2118522,-5.563091 -3.21185195,-5.563091 6.42370395,0 6.4237035,0 -3.2118517,5.563091 z" inkscape:transform-center-y="2.1923152" transform="matrix(1.3830775,0,0,1.1822464,8.1482892,-3.9713375)" />
			<ellipse style="fill:#81b39d;fill-opacity:1;" id="path115" cx="16.466213" cy="8.5147161" rx="5.9662137" ry="5.5147161" />
			</g>
			
			<g  class="region" id="qwerty" style="fill:#81b39b"><a asp-controller="Home" asp-action="Index">
			<title>   А.Р. Крим </title>
			<polygon points=" 1204,984 1168,980 1149,971 1146,968 1148,937 1152,934 1157,933 1157,916 1149,908 1140,904 1135,898 1129,901 1128,906 1098,889 1081,889 1073,891 1068,891 1062,887 1069,864 1075,844 1092,838 1094,833 1120,822 1121,819 1131,820 1145,812 1157,810 1166,810 1166,804 1159,806 1161,782 1166,778  1175,779 1199,788 1213,788 1221,800 1247,799 1259,806 1260,817 1285,829 1321,862 1342,864 1357,849 1361,856 1373,857 1389,848 1423,853 1427,858 1422,890 1419,891 1415,890 1409,918 1395,920 1391,923 1375,919 1369,923 1361,923 1337,911 1323,914 1322,923 1317,924 1316,928 1305,929 1292,945 1285,939 1239,952 1225,971 1215,975"
			/> </a></g>
			<g
			inkscape:label="layer1" inkscape:groupmode="layer" id="l1-crimea" transform="translate(1184,855)">
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path1680" cx="16.5" cy="27" rx="16.5" ry="8" />
			<ellipse style="fill:#81b39b;fill-opacity:1;" id="path2460" cx="16.5" cy="26.5" rx="13.5" ry="5" />
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path2514" cx="16.5" cy="26.200001" rx="8.5" ry="3.5" />
			<ellipse style="fill:#ffffff;" id="path900" cx="16.578062" cy="8.5784473" rx="10.078063" ry="8.5784473" />
			<path sodipodi:type="star" style="fill:#ffffff;fill-opacity:1;" id="path3459" inkscape:flatsided="false" sodipodi:sides="3" sodipodi:cx="6.0952125" sodipodi:cy="17.737392" sodipodi:r1="7.4174542" sodipodi:r2="3.7087271" sodipodi:arg1="1.5707963" sodipodi:arg2="2.6179939" inkscape:rounded="0" inkscape:randomized="0" d="m 6.0952127,25.154847 -3.2118522,-5.563091 -3.21185195,-5.563091 6.42370395,0 6.4237035,0 -3.2118517,5.563091 z" inkscape:transform-center-y="2.1923152" transform="matrix(1.3830775,0,0,1.1822464,8.1482892,-3.9713375)" />
			<ellipse style="fill:#81b39d;fill-opacity:1;" id="path115" cx="16.466213" cy="8.5147161" rx="5.9662137" ry="5.5147161" />
			</g>
			
			<g  class="region" id="17"><a asp-controller="News" asp-action="Sumy">
			<title>   Сумська </title>
			<polygon points="1112,259 1114,259 1117,263 1130,259 1140,259 1146,262 1166,288 1177,297 1185,302 1183,333 1179,335 1179,340 1173,343 1181,345 1186,343,1190,343 1204,345 1209,350 1228,347 1239,347 1243,356 1249,360 1259,360 1259,371 1270,385 1269,398 1269,402 1277,406 1285,416 1269,417 1259,421 1258,424 1249,424 1243,428 1237,428 1233,431 1217,431 1209,434 1203,433 1203,431 1206,430 1205,426 1198,421 1195,420 1194,415 1185,406 1184,400 1176,399 1167,403 1163,402 1156,400 1148,401 1147,404 1107,398 1101,399 1095,401 1100,381 1098,379 1098,375 1102,366 1100,363 1102,359 1097,358 1096,359 1092,359 1092,356 1085,355 1084,352 1092,340 1090,336 1094,333 1095,324 1099,322 1091,302 1091,296 1101,292 1112,282 1118,279 1117,276 1108,271 1109,265"
			/> </a></g>
			<g
			inkscape:label="layer1" inkscape:groupmode="layer" id="l1-sumy" transform="translate(1117,317)">
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path1680" cx="16.5" cy="27" rx="16.5" ry="8" />
			<ellipse style="fill:#81b39b;fill-opacity:1;" id="path2460" cx="16.5" cy="26.5" rx="13.5" ry="5" />
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path2514" cx="16.5" cy="26.200001" rx="8.5" ry="3.5" />
			<ellipse style="fill:#ffffff;" id="path900" cx="16.578062" cy="8.5784473" rx="10.078063" ry="8.5784473" />
			<path sodipodi:type="star" style="fill:#ffffff;fill-opacity:1;" id="path3459" inkscape:flatsided="false" sodipodi:sides="3" sodipodi:cx="6.0952125" sodipodi:cy="17.737392" sodipodi:r1="7.4174542" sodipodi:r2="3.7087271" sodipodi:arg1="1.5707963" sodipodi:arg2="2.6179939" inkscape:rounded="0" inkscape:randomized="0" d="m 6.0952127,25.154847 -3.2118522,-5.563091 -3.21185195,-5.563091 6.42370395,0 6.4237035,0 -3.2118517,5.563091 z" inkscape:transform-center-y="2.1923152" transform="matrix(1.3830775,0,0,1.1822464,8.1482892,-3.9713375)" />
			<ellipse style="fill:#81b39d;fill-opacity:1;" id="path115" cx="16.466213" cy="8.5147161" rx="5.9662137" ry="5.5147161" />
			</g>

		<g class="region" id="24">
			<a asp-controller="News" asp-action="Chernihiv">
			<title>   Чернігівська </title>
			<polygon points=" 998,278 1002,283 1023,280 1032,273 1037,261 1078,265 1100,257 1106,258 1107,262 1103,271 1114,278 1113,280 1108,281 1100,291 1087,297 1087,303 1094,322 1089,335 1087,331 1087,340 1085,346 1079,350 1095,361 1097,369 1094,381 1096,383 1087,401 1070,412 1053,413 1038,410 1026,415 1012,405 1016,399 1003,393 994,393 971,401 958,401 952,396  952,387 943,381 919,381 919,375 912,371 909,363  902,359  901,349 908,337 909,324 903,315 912,303 915,296 932,284 934,279 954,280 966,276"
			/> </a></g>
			<g
			inkscape:label="layer1" inkscape:groupmode="layer" id="l1-chernihiv" transform="translate(986,309)">
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path1680" cx="16.5" cy="27" rx="16.5" ry="8" />
			<ellipse style="fill:#81b39b;fill-opacity:1;" id="path2460" cx="16.5" cy="26.5" rx="13.5" ry="5" />
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path2514" cx="16.5" cy="26.200001" rx="8.5" ry="3.5" />
			<ellipse style="fill:#ffffff;" id="path900" cx="16.578062" cy="8.5784473" rx="10.078063" ry="8.5784473" />
			<path sodipodi:type="star" style="fill:#ffffff;fill-opacity:1;" id="path3459" inkscape:flatsided="false" sodipodi:sides="3" sodipodi:cx="6.0952125" sodipodi:cy="17.737392" sodipodi:r1="7.4174542" sodipodi:r2="3.7087271" sodipodi:arg1="1.5707963" sodipodi:arg2="2.6179939" inkscape:rounded="0" inkscape:randomized="0" d="m 6.0952127,25.154847 -3.2118522,-5.563091 -3.21185195,-5.563091 6.42370395,0 6.4237035,0 -3.2118517,5.563091 z" inkscape:transform-center-y="2.1923152" transform="matrix(1.3830775,0,0,1.1822464,8.1482892,-3.9713375)" />
			<ellipse style="fill:#81b39d;fill-opacity:1;" id="path115" cx="16.466213" cy="8.5147161" rx="5.9662137" ry="5.5147161" />
			</g>
			
			<g  class="region" id="9"><a asp-controller="News" asp-action="Kyiv">
			<title>   Київська </title>
			<polygon points="    858,326 864,325 869,325 877,327 881,329 884,337 895,342 897,344 897,354 896,362 904,362 906,363 908,371 913,373 915,374,916,377 914,382 919,383 942,383 948,389 949,392 947,396 952,398 957,402 974,403 987,400 996,396 996,394 1000,394 1007,399 1011,400 1011,401 1007,403 1008,405 1017,414 1019,415 1019,416 1016,422 1015,424 1011,424 1009,423 1008,430 999,435 999,441 989,454 987,455 980,453 978,454 973,454 967,451 960,451 952,454 947,459 947,467 943,473 943,477 944,478 944,480 929,492 926,496 916,498 887,498 884,505 871,503 855,503 841,511 837,511 819,498 819,494 824,491 823 485 824,483  819,479  819,476  820,474  817,473  817,470  818,469 815,467 816,460 838,448 837,445 834,441 834,438 839,433 838,430 836,425 835,420 830,416 826,409 820,409 820,406 822,400 823,392 830,386 829,381 825,380 823,374 819,367 819,365 822,364 822,361 823,356 814,352 810,351 809,346 810,343 816,340 818,337 817,335 817,333 822,333 828,327 832,325 835,325  843,328 844,329 848,329"
			/> </a></g>			
			<g
			inkscape:label="layer1" inkscape:groupmode="layer" id="l1-kiev" transform="translate(876,397)">
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path1680" cx="16.5" cy="27" rx="16.5" ry="8" />
			<ellipse style="fill:#81b39b;fill-opacity:1;" id="path2460" cx="16.5" cy="26.5" rx="13.5" ry="5" />
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path2514" cx="16.5" cy="26.200001" rx="8.5" ry="3.5" />
			<ellipse style="fill:#ffffff;" id="path900" cx="16.578062" cy="8.5784473" rx="10.078063" ry="8.5784473" />
			<path sodipodi:type="star" style="fill:#ffffff;fill-opacity:1;" id="path3459" inkscape:flatsided="false" sodipodi:sides="3" sodipodi:cx="6.0952125" sodipodi:cy="17.737392" sodipodi:r1="7.4174542" sodipodi:r2="3.7087271" sodipodi:arg1="1.5707963" sodipodi:arg2="2.6179939" inkscape:rounded="0" inkscape:randomized="0" d="m 6.0952127,25.154847 -3.2118522,-5.563091 -3.21185195,-5.563091 6.42370395,0 6.4237035,0 -3.2118517,5.563091 z" inkscape:transform-center-y="2.1923152" transform="matrix(1.3830775,0,0,1.1822464,8.1482892,-3.9713375)" />
			<ellipse style="fill:#81b39d;fill-opacity:1;" id="path115" cx="16.466213" cy="8.5147161" rx="5.9662137" ry="5.5147161" />
			</g>
			
			<g  class="region" id="22"><a asp-controller="News" asp-action="Cherkassy">
			<title>   Черкаська </title>
			<polygon points=" 977,534 971,544 961,549 904,548 897,561 897,564 883,565 873,571 862,572 850,578 845,578 846,575 853,574 855,566 845,554 842,547 838,547 822,534 828,532 828,527 824,525 825,523 834,513 844,512 857,504 863,504 866,500 869,500 870,504 887,507 890,500 929,498 932,493 946,482 952,459 960,452 967,452 972,457 991,456 1002,442 1003,435 1012,429 1012,426 1016,425 1026,432 1030,432 1028,436 1042,447 1042,450 1038,454 1046,460 1054,463 1054,465 1069,477 1069,480 1065,485 1071,497 1073,504 1071,513 1076,528 1067,529 1063,531 1056,531 1050,522 1041,520 1033,522 1021,533 1010,534 1004,538 996,532"
			/> </a></g>
			<g
			inkscape:label="layer1" inkscape:groupmode="layer" id="l1-cherkasy" transform="translate(953,480)">
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path1680" cx="16.5" cy="27" rx="16.5" ry="8" />
			<ellipse style="fill:#81b39b;fill-opacity:1;" id="path2460" cx="16.5" cy="26.5" rx="13.5" ry="5" />
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path2514" cx="16.5" cy="26.200001" rx="8.5" ry="3.5" />
			<ellipse style="fill:#ffffff;" id="path900" cx="16.578062" cy="8.5784473" rx="10.078063" ry="8.5784473" />
			<path sodipodi:type="star" style="fill:#ffffff;fill-opacity:1;" id="path3459" inkscape:flatsided="false" sodipodi:sides="3" sodipodi:cx="6.0952125" sodipodi:cy="17.737392" sodipodi:r1="7.4174542" sodipodi:r2="3.7087271" sodipodi:arg1="1.5707963" sodipodi:arg2="2.6179939" inkscape:rounded="0" inkscape:randomized="0" d="m 6.0952127,25.154847 -3.2118522,-5.563091 -3.21185195,-5.563091 6.42370395,0 6.4237035,0 -3.2118517,5.563091 z" inkscape:transform-center-y="2.1923152" transform="matrix(1.3830775,0,0,1.1822464,8.1482892,-3.9713375)" />
			<ellipse style="fill:#81b39d;fill-opacity:1;" id="path115" cx="16.466213" cy="8.5147161" rx="5.9662137" ry="5.5147161" />
			</g>

		<g class="region" id="10">
			<a asp-controller="News" asp-action="Kirovohrad">
			<title>   Кіровоградська </title>
			<polygon points=" 1149,538 1153,535 1160,535 1163,541 1159,545 1137,545 1139,551 1156,555 1154,558 1129,569 1135,589 1118,602 1116,598 1112,606 1098,613 1094,610 1089,611 1085,611 1081,617 1071,616 1065,632 1031,630 1028,635 1025,635 1018,631 1000,632 1004,623 995,617 995,607 980,605 956,602 946,595 934,594 925,599 910,597 880,601 860,601 852,596 837,596 834,591 834,588 843,578 848,581 865,573 878,571 888,565 900,565 900,557 910,549 967,550 978,541 979,535 995,533 1002,540 1007,540 1012,535 1027,534 1027,529 1033,524 1039,522 1047,524 1055,534 1078,530 1082,526 1076,513 1077,507 1115,524 1116,529"
			/> </a></g>
			<g
			inkscape:label="layer1" inkscape:groupmode="layer" id="l1-kirovohrad" transform="translate(1021,551)">
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path1680" cx="16.5" cy="27" rx="16.5" ry="8" />
			<ellipse style="fill:#81b39b;fill-opacity:1;" id="path2460" cx="16.5" cy="26.5" rx="13.5" ry="5" />
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path2514" cx="16.5" cy="26.200001" rx="8.5" ry="3.5" />
			<ellipse style="fill:#ffffff;" id="path900" cx="16.578062" cy="8.5784473" rx="10.078063" ry="8.5784473" />
			<path sodipodi:type="star" style="fill:#ffffff;fill-opacity:1;" id="path3459" inkscape:flatsided="false" sodipodi:sides="3" sodipodi:cx="6.0952125" sodipodi:cy="17.737392" sodipodi:r1="7.4174542" sodipodi:r2="3.7087271" sodipodi:arg1="1.5707963" sodipodi:arg2="2.6179939" inkscape:rounded="0" inkscape:randomized="0" d="m 6.0952127,25.154847 -3.2118522,-5.563091 -3.21185195,-5.563091 6.42370395,0 6.4237035,0 -3.2118517,5.563091 z" inkscape:transform-center-y="2.1923152" transform="matrix(1.3830775,0,0,1.1822464,8.1482892,-3.9713375)" />
			<ellipse style="fill:#81b39d;fill-opacity:1;" id="path115" cx="16.466213" cy="8.5147161" rx="5.9662137" ry="5.5147161" />
			</g>


		<g class="region" id="13">
			<a asp-controller="News" asp-action="Mykolayiv">
			<title>   Миколаївська </title>
			<polygon points=" 991,684 996,680 1009,695 1009,695 1009,703 1014,703 1014,711 1018,713 1014,722 1014,729 1027,727 1034,723 1045,722 1047,719 1058,719 1061,717 1076,719 1087,719 1085,716 1096,711 1096,705 1101,705 1102,701 1092,697 1092,697 1095,688 1107,684 1105,670 1100,667 1103,663 1107,665 1103,652 1097,651 1096,639 1101,638 1101,622 1097,620 1095,613 1089,612 1082,612 1075,617  1072,628 1066,633 1036,631 1029,637 1024,637 1019,633 1001,632 1000,623 991,615 993,610 993,607 982,606 977,610 972,609 972,604 952,602 938,595 926,601 910,598 898,602 889,600 878,603 877,607 872,608 872,614 878,620 879,628 884,632 886,644 891,647 915,647 924,655 923,674 930,679 948,681 945,686 946,688 957,693 959,702 939,710 939,713 946,720 949,725 951,765 959,765 965,758 972,731 968,725 970,724 976,726 985,720 977,734 977,760 980,745 1006,746 1007,706 1001,704"
			/> </a></g>
			<g
			inkscape:label="layer1" inkscape:groupmode="layer" id="l1-mykolayiv" transform="translate(980,629)">
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path1680" cx="16.5" cy="27" rx="16.5" ry="8" />
			<ellipse style="fill:#81b39b;fill-opacity:1;" id="path2460" cx="16.5" cy="26.5" rx="13.5" ry="5" />
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path2514" cx="16.5" cy="26.200001" rx="8.5" ry="3.5" />
			<ellipse style="fill:#ffffff;" id="path900" cx="16.578062" cy="8.5784473" rx="10.078063" ry="8.5784473" />
			<path sodipodi:type="star" style="fill:#ffffff;fill-opacity:1;" id="path3459" inkscape:flatsided="false" sodipodi:sides="3" sodipodi:cx="6.0952125" sodipodi:cy="17.737392" sodipodi:r1="7.4174542" sodipodi:r2="3.7087271" sodipodi:arg1="1.5707963" sodipodi:arg2="2.6179939" inkscape:rounded="0" inkscape:randomized="0" d="m 6.0952127,25.154847 -3.2118522,-5.563091 -3.21185195,-5.563091 6.42370395,0 6.4237035,0 -3.2118517,5.563091 z" inkscape:transform-center-y="2.1923152" transform="matrix(1.3830775,0,0,1.1822464,8.1482892,-3.9713375)" />
			<ellipse style="fill:#81b39d;fill-opacity:1;" id="path115" cx="16.466213" cy="8.5147161" rx="5.9662137" ry="5.5147161" />
			</g>
			
			
			<g  class="region" id="14"><a asp-controller="News" asp-action="Odesa">
			<title>   Одеська </title>
			<polygon points=" 757,761 758,757 764,752 772,749 776,749 777,750 777,757 775,763 778,765 789,758 794,758 797,756 800,756 810,769 816,764 822,757 825,757 831,767 838,764 852,762 844,759 842,755 841,748 834,743 833,741 832,743 830,742 830,740 826,740 824,734 821,739 819,739 815,721 812,696 808,700 808,694 812,691 809,674 800,683 800,702 790,691 784,689 783,669 780,665 780,656 782,650 785,646 784,644 781,642 778,628 775,625 770,629 769,645 768,646 766,646 763,643 763,639 753,631 744,627 741,627 741,610 750,610 761,614 771,610 774,607 775,603 779,603 787,607 823,607 828,605 829,599 832,597 838,597 842,599 845,597 851,597 860,603 874,603 873,606 867,608 867,608 868,615 872,618 875,626 880,633 880,639 887,648 897,649 899,648 903,648 907,651 910,651 912,648 915,652 918,656 919,674 924,679 931,681 938,680 944,681 941,685 942,688 953,693 955,696 955,700 935,709 935,715 944,724 946,728 946,732 944,737 943,761 933,768 912,776 907,791 898,805 883,821 860,839 858,808 854,809 854,837 852,841 851,841 849,838 846,838 837,844 836,847 831,848 829,858 825,859 823,841 819,832 818,820 814,815 811,817 812,853 815,852 819,854 820,889 818,898 814,888 810,884 804,881 796,879 788,879 779,880 771,883 751,893 749,893 744,889 739,889 735,894 734,899 726,899 706,892 701,891 698,887 692,876 689,846 711,846 715,842 714,830 715,828 722,822 731,818 738,812 738,803 756,797"
			/> </a></g>
			<g inkscape:label="layer1" inkscape:groupmode="layer" id="l1-odessa" transform="translate(861,674)">
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path1680" cx="16.5" cy="27" rx="16.5" ry="8" />
			<ellipse style="fill:#81b39b;fill-opacity:1;" id="path2460" cx="16.5" cy="26.5" rx="13.5" ry="5" />
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path2514" cx="16.5" cy="26.200001" rx="8.5" ry="3.5" />
			<ellipse style="fill:#ffffff;" id="path900" cx="16.578062" cy="8.5784473" rx="10.078063" ry="8.5784473" />
			<path sodipodi:type="star" style="fill:#ffffff;fill-opacity:1;" id="path3459" inkscape:flatsided="false" sodipodi:sides="3" sodipodi:cx="6.0952125" sodipodi:cy="17.737392" sodipodi:r1="7.4174542" sodipodi:r2="3.7087271" sodipodi:arg1="1.5707963" sodipodi:arg2="2.6179939" inkscape:rounded="0" inkscape:randomized="0" d="m 6.0952127,25.154847 -3.2118522,-5.563091 -3.21185195,-5.563091 6.42370395,0 6.4237035,0 -3.2118517,5.563091 z" inkscape:transform-center-y="2.1923152" transform="matrix(1.3830775,0,0,1.1822464,8.1482892,-3.9713375)" />
			<ellipse style="fill:#81b39d;fill-opacity:1;" id="path115" cx="16.466213" cy="8.5147161" rx="5.9662137" ry="5.5147161" />
			</g>

		<g class="region" id="1">
			<a asp-controller="News" asp-action="Vinnytsia">
			<title>   Вінницька </title>
			<polygon points=" 766,454 759,461 690,464 690,467 684,470 687,474 683,483 680,484 682,490 688,492 686,495 687,499 689,505 690,513 680,517 666,516 659,517 652,524 649,535 646,559 651,563 656,598 663,598 665,601 679,603 688,611 700,614 702,619 706,617 709,620 711,616 717,617 723,620 723,624 725,626 729,627 729,621 737,618 740,623 741,609 750,609 761,613 772,602 779,602 787,606 823,606 825,602 826,598 822,596 822,593 822,586 838,578 844,577 848,573 851,572 851,565 847,557 841,553 841,549 834,546 829,535 825,532 825,527 821,525 829,516 829,510 814,496 820,491 819,482 815,477 816,473 813,473 795,479 776,477 774,468 776,465 769,454"
			/> </a></g>			
			<g inkscape:label="layer1" inkscape:groupmode="layer" id="l1-vinnytsya" transform="translate(731,508)">
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path1680" cx="16.5" cy="27" rx="16.5" ry="8" />
			<ellipse style="fill:#81b39b;fill-opacity:1;" id="path2460" cx="16.5" cy="26.5" rx="13.5" ry="5" />
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path2514" cx="16.5" cy="26.200001" rx="8.5" ry="3.5" />
			<ellipse style="fill:#ffffff;" id="path900" cx="16.578062" cy="8.5784473" rx="10.078063" ry="8.5784473" />
			<path sodipodi:type="star" style="fill:#ffffff;fill-opacity:1;" id="path3459" inkscape:flatsided="false" sodipodi:sides="3" sodipodi:cx="6.0952125" sodipodi:cy="17.737392" sodipodi:r1="7.4174542" sodipodi:r2="3.7087271" sodipodi:arg1="1.5707963" sodipodi:arg2="2.6179939" inkscape:rounded="0" inkscape:randomized="0" d="m 6.0952127,25.154847 -3.2118522,-5.563091 -3.21185195,-5.563091 6.42370395,0 6.4237035,0 -3.2118517,5.563091 z" inkscape:transform-center-y="2.1923152" transform="matrix(1.3830775,0,0,1.1822464,8.1482892,-3.9713375)" />
			<ellipse style="fill:#81b39d;fill-opacity:1;" id="path115" cx="16.466213" cy="8.5147161" rx="5.9662137" ry="5.5147161" />
			</g>			

			<g  class="region" id="5"><a asp-controller="News" asp-action="Zhytomyr">
			<title>   Житомирська </title>
			<polygon points=" 814,409 823,410 831,421 834,434 830,437 831,443 833,447 833,450 811,460 811,467 813,468 813,472 798,477 781,477 778,473 778,463 773,453 761,453 754,459 686,462 682,461 677,459 671,452 671,444 678,440 675,422 668,424 649,412 649,409 653,405 649,400 649,391 654,384 652,378 653,362 669,347 674,338 677,330 684,331 693,327 702 316 712,319 722,318 729,312 737,321 756,319 758,327 769,330 774,323 789,314 795,314 804,327 812,334 812,339 805,347 808,354 811,353 814,353 819,357 819,361 813,365 819,373 820,380 825,381 826,386 819,392 818,404"
			/> </a></g>
			<g inkscape:label="layer1" inkscape:groupmode="layer" id="l1-dnipropetrovsk" transform="translate(725,369)">
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path1680" cx="16.5" cy="27" rx="16.5" ry="8" />
			<ellipse style="fill:#81b39b;fill-opacity:1;" id="path2460" cx="16.5" cy="26.5" rx="13.5" ry="5" />
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path2514" cx="16.5" cy="26.200001" rx="8.5" ry="3.5" />
			<ellipse style="fill:#ffffff;" id="path900" cx="16.578062" cy="8.5784473" rx="10.078063" ry="8.5784473" />
			<path sodipodi:type="star" style="fill:#ffffff;fill-opacity:1;" id="path3459" inkscape:flatsided="false" sodipodi:sides="3" sodipodi:cx="6.0952125" sodipodi:cy="17.737392" sodipodi:r1="7.4174542" sodipodi:r2="3.7087271" sodipodi:arg1="1.5707963" sodipodi:arg2="2.6179939" inkscape:rounded="0" inkscape:randomized="0" d="m 6.0952127,25.154847 -3.2118522,-5.563091 -3.21185195,-5.563091 6.42370395,0 6.4237035,0 -3.2118517,5.563091 z" inkscape:transform-center-y="2.1923152" transform="matrix(1.3830775,0,0,1.1822464,8.1482892,-3.9713375)" />
			<ellipse style="fill:#81b39d;fill-opacity:1;" id="path115" cx="16.466213" cy="8.5147161" rx="5.9662137" ry="5.5147161" />
			</g>			
			
			<g  class="region" id="16"><a asp-controller="News" asp-action="Rivne">
			<title>   Рівненська </title>
			<polygon points="569,429 568,423 545,422 538,426 515,430 510,432 505,436 503,439 500,441 497,441 490,435 490,424 491,422 486,420 484,420 484,412 491,414 491,410 487,407 491,404 491,400 501,400 504,397 504,394 509,394 510,390 517,390 524,387 529,387 540,392 546,391 548,382 557,377 560,371 561,366 565,366 568,364 568,360 564,357 560,357 559,354 567,351 566,347 552,337 551,333 533,333 535,319 538,318 532,312 533,307 534,305 544,298 544,294 546,291 575,293 629,304 651,304 655,311 658,312 658,317 667,317 674,315 681,315 689,317 690,320 687,324 681,324 679,328 673,330 672,336 667,338 665,347 649,362 649,386 644,393 646,396 644,398 639,395 628,400 617,401 611,406 609,406 594,417"
			/> </a></g>				
			<g inkscape:label="layer1" inkscape:groupmode="layer" id="l1-rivne" transform="translate(592,335)">
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path1680" cx="16.5" cy="27" rx="16.5" ry="8" />
			<ellipse style="fill:#81b39b;fill-opacity:1;" id="path2460" cx="16.5" cy="26.5" rx="13.5" ry="5" />
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path2514" cx="16.5" cy="26.200001" rx="8.5" ry="3.5" />
			<ellipse style="fill:#ffffff;" id="path900" cx="16.578062" cy="8.5784473" rx="10.078063" ry="8.5784473" />
			<path sodipodi:type="star" style="fill:#ffffff;fill-opacity:1;" id="path3459" inkscape:flatsided="false" sodipodi:sides="3" sodipodi:cx="6.0952125" sodipodi:cy="17.737392" sodipodi:r1="7.4174542" sodipodi:r2="3.7087271" sodipodi:arg1="1.5707963" sodipodi:arg2="2.6179939" inkscape:rounded="0" inkscape:randomized="0" d="m 6.0952127,25.154847 -3.2118522,-5.563091 -3.21185195,-5.563091 6.42370395,0 6.4237035,0 -3.2118517,5.563091 z" inkscape:transform-center-y="2.1923152" transform="matrix(1.3830775,0,0,1.1822464,8.1482892,-3.9713375)" />
			<ellipse style="fill:#81b39d;fill-opacity:1;" id="path115" cx="16.466213" cy="8.5147161" rx="5.9662137" ry="5.5147161" />
			</g>


		<g class="region" id="21">
			<a asp-controller="News" asp-action="Khmelnytskyi">
			<title>   Хмельницька </title>
			<polygon points=" 685,514 655,516 644,530 644,551 640,560 631,560 629,563 602,564 600,565 595,561 594,564 589,564 587,567 581,566 580,571 577,573 571,568 562,569 555,555 557,511 562,503 559,492 559,481 565,474 562,448 567,444 569,436 572,436 571,431 600,416 611,406 616,406 618,403 630,401 635,398 639,398 648,403 645,412 664,426 673,424 674,441 666,443 665,450 675,461 685,463 684,467 680,470 683,474 680,482 676,483 678,491 683,492 682,498"
			/> </a></g>
			<g inkscape:label="layer1" inkscape:groupmode="layer" id="l1-khmelnytskyy" transform="translate(607,436)">
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path1680" cx="16.5" cy="27" rx="16.5" ry="8" />
			<ellipse style="fill:#81b39b;fill-opacity:1;" id="path2460" cx="16.5" cy="26.5" rx="13.5" ry="5" />
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path2514" cx="16.5" cy="26.200001" rx="8.5" ry="3.5" />
			<ellipse style="fill:#ffffff;" id="path900" cx="16.578062" cy="8.5784473" rx="10.078063" ry="8.5784473" />
			<path sodipodi:type="star" style="fill:#ffffff;fill-opacity:1;" id="path3459" inkscape:flatsided="false" sodipodi:sides="3" sodipodi:cx="6.0952125" sodipodi:cy="17.737392" sodipodi:r1="7.4174542" sodipodi:r2="3.7087271" sodipodi:arg1="1.5707963" sodipodi:arg2="2.6179939" inkscape:rounded="0" inkscape:randomized="0" d="m 6.0952127,25.154847 -3.2118522,-5.563091 -3.21185195,-5.563091 6.42370395,0 6.4237035,0 -3.2118517,5.563091 z" inkscape:transform-center-y="2.1923152" transform="matrix(1.3830775,0,0,1.1822464,8.1482892,-3.9713375)" />
			<ellipse style="fill:#81b39d;fill-opacity:1;" id="path115" cx="16.466213" cy="8.5147161" rx="5.9662137" ry="5.5147161" />
			</g>

		<g class="region" id="23">
			<a asp-controller="News" asp-action="Chernivtsi">
			<title>   Чернівецька </title>
			<polygon points="501,556 506,556 511,560 513,557 515,557 526,564 530,563 534,560 535,566 562,570 565,569 570,569 576,575 580,575 583,572 589,570 590,567 595,566 603,567 608,564 618,566 625,564 633,564 635,562 640,562 641,561 645,561 649,573 651,591 651,602 649,604 645,604 639,603 632,609 636,609 616,606 612,610 608,610 604,607 596,608 593,615 587,613 583,615 580,619 558,623 542,641 533,641 533,643 478,649 462,654 449,665 441,666 436,641 436,638 440,631 440,614 442,609 448,604 467,589 483,580 496,580 500,573 500,560"
			/> </a></g>
			<g inkscape:label="layer1" inkscape:groupmode="layer" id="l1-chernivtsi" transform="translate(495,572)">
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path1680" cx="16.5" cy="27" rx="16.5" ry="8" />
			<ellipse style="fill:#81b39b;fill-opacity:1;" id="path2460" cx="16.5" cy="26.5" rx="13.5" ry="5" />
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path2514" cx="16.5" cy="26.200001" rx="8.5" ry="3.5" />
			<ellipse style="fill:#ffffff;" id="path900" cx="16.578062" cy="8.5784473" rx="10.078063" ry="8.5784473" />
			<path sodipodi:type="star" style="fill:#ffffff;fill-opacity:1;" id="path3459" inkscape:flatsided="false" sodipodi:sides="3" sodipodi:cx="6.0952125" sodipodi:cy="17.737392" sodipodi:r1="7.4174542" sodipodi:r2="3.7087271" sodipodi:arg1="1.5707963" sodipodi:arg2="2.6179939" inkscape:rounded="0" inkscape:randomized="0" d="m 6.0952127,25.154847 -3.2118522,-5.563091 -3.21185195,-5.563091 6.42370395,0 6.4237035,0 -3.2118517,5.563091 z" inkscape:transform-center-y="2.1923152" transform="matrix(1.3830775,0,0,1.1822464,8.1482892,-3.9713375)" />
			<ellipse style="fill:#81b39d;fill-opacity:1;" id="path115" cx="16.466213" cy="8.5147161" rx="5.9662137" ry="5.5147161" />
			</g>			

			<g  class="region" id="18"><a asp-controller="News" asp-action="Ternopil">
			<title>   Тернопільська </title>
			<polygon points=" 476,467 477,460 497,455 505,448 502,442 505,441 510,432 531,430 546,423 565,424 568,436 564,436 563,445 558,446 562,462 562,465 560,470 562,472 554,483 555,491 558,500 558,504 549,536 551,538 551,553 558,568 546,567 546,567 536,559 528,562 523,561 514,556 507,556 503,547 494,543 492,539 488,537 483,538 483,543 476,542 475,534 469,535 464,530 457,530 455,524 459,522 454,517 451,517 450,499 444,488 444,483 464,473 470,468"
			/> </a></g>
			<g inkscape:label="layer1" inkscape:groupmode="layer" id="l1-ternopil" transform="translate(506,453)">
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path1680" cx="16.5" cy="27" rx="16.5" ry="8" />
			<ellipse style="fill:#81b39b;fill-opacity:1;" id="path2460" cx="16.5" cy="26.5" rx="13.5" ry="5" />
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path2514" cx="16.5" cy="26.200001" rx="8.5" ry="3.5" />
			<ellipse style="fill:#ffffff;" id="path900" cx="16.578062" cy="8.5784473" rx="10.078063" ry="8.5784473" />
			<path sodipodi:type="star" style="fill:#ffffff;fill-opacity:1;" id="path3459" inkscape:flatsided="false" sodipodi:sides="3" sodipodi:cx="6.0952125" sodipodi:cy="17.737392" sodipodi:r1="7.4174542" sodipodi:r2="3.7087271" sodipodi:arg1="1.5707963" sodipodi:arg2="2.6179939" inkscape:rounded="0" inkscape:randomized="0" d="m 6.0952127,25.154847 -3.2118522,-5.563091 -3.21185195,-5.563091 6.42370395,0 6.4237035,0 -3.2118517,5.563091 z" inkscape:transform-center-y="2.1923152" transform="matrix(1.3830775,0,0,1.1822464,8.1482892,-3.9713375)" />
			<ellipse style="fill:#81b39d;fill-opacity:1;" id="path115" cx="16.466213" cy="8.5147161" rx="5.9662137" ry="5.5147161" />
			</g>			

			<g  class="region" id="8"><a asp-controller="News" asp-action="Ivano_Frankivsk">
			<title>   Івано-Франківська </title>
			<polygon points=" 436,666 429,659 420,655 420,651 415,648 410,616 414,612 415,607 409,602 409,592 392,580 382,583 382,573 379,568 365,571 340,551 343,536 351,524 361,519 404,515 415,510 413,507 412,501 414,499 418,498 418,491 421,485 432,484 437,486 442,491 448,506 446,518 454,518 455,523 449,522 455,530 463,531 466,539 473,530 473,543 471,545 476,547 488,541 502,549 502,555 496,560 495,571 489,579 483,579 467,587 447,600 437,612 431,640"
			/> </a></g>
			<g inkscape:label="layer1" inkscape:groupmode="layer" id="l1-ivano-frankivsk" transform="translate(413,530)">
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path1680" cx="16.5" cy="27" rx="16.5" ry="8" />
			<ellipse style="fill:#81b39b;fill-opacity:1;" id="path2460" cx="16.5" cy="26.5" rx="13.5" ry="5" />
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path2514" cx="16.5" cy="26.200001" rx="8.5" ry="3.5" />
			<ellipse style="fill:#ffffff;" id="path900" cx="16.578062" cy="8.5784473" rx="10.078063" ry="8.5784473" />
			<path sodipodi:type="star" style="fill:#ffffff;fill-opacity:1;" id="path3459" inkscape:flatsided="false" sodipodi:sides="3" sodipodi:cx="6.0952125" sodipodi:cy="17.737392" sodipodi:r1="7.4174542" sodipodi:r2="3.7087271" sodipodi:arg1="1.5707963" sodipodi:arg2="2.6179939" inkscape:rounded="0" inkscape:randomized="0" d="m 6.0952127,25.154847 -3.2118522,-5.563091 -3.21185195,-5.563091 6.42370395,0 6.4237035,0 -3.2118517,5.563091 z" inkscape:transform-center-y="2.1923152" transform="matrix(1.3830775,0,0,1.1822464,8.1482892,-3.9713375)" />
			<ellipse style="fill:#81b39d;fill-opacity:1;" id="path115" cx="16.466213" cy="8.5147161" rx="5.9662137" ry="5.5147161" />
			</g>						

			<g  class="region" id="6"><a asp-controller="News" asp-action="Zakarpattia">
			<title>   Закарпатська </title>
			<polygon points=" 264,522 266,522 269,524 279,525 284,528 288,536 291,539 302,539 309,547 315,547 317,549 321,549 323,551 335,551 349,557 362,572 371,572 378,569 377,581 381,585 392,581 404,592 406,603 411,608 411,610 406,617 406,622 409,649 401,645 390,649  381,649 364,645 362,646 355,646 349,642 328,642 326,643 321,643 301,632 297,633 288,642 278,641 276,645 275,645 271,632 259,631 256,629 252,622 247,620 240,620 235,607 233,605 227,604 220,580 220,572 223,565 221,559 240,551 252,534 261,527 263,527"
			/> </a></g>
			<g inkscape:label="layer1" inkscape:groupmode="layer" id="l1-transcarpathia" transform="translate(258,551)">
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path1680" cx="16.5" cy="27" rx="16.5" ry="8" />
			<ellipse style="fill:#81b39b;fill-opacity:1;" id="path2460" cx="16.5" cy="26.5" rx="13.5" ry="5" />
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path2514" cx="16.5" cy="26.200001" rx="8.5" ry="3.5" />
			<ellipse style="fill:#ffffff;" id="path900" cx="16.578062" cy="8.5784473" rx="10.078063" ry="8.5784473" />
			<path sodipodi:type="star" style="fill:#ffffff;fill-opacity:1;" id="path3459" inkscape:flatsided="false" sodipodi:sides="3" sodipodi:cx="6.0952125" sodipodi:cy="17.737392" sodipodi:r1="7.4174542" sodipodi:r2="3.7087271" sodipodi:arg1="1.5707963" sodipodi:arg2="2.6179939" inkscape:rounded="0" inkscape:randomized="0" d="m 6.0952127,25.154847 -3.2118522,-5.563091 -3.21185195,-5.563091 6.42370395,0 6.4237035,0 -3.2118517,5.563091 z" inkscape:transform-center-y="2.1923152" transform="matrix(1.3830775,0,0,1.1822464,8.1482892,-3.9713375)" />
			<ellipse style="fill:#81b39d;fill-opacity:1;" id="path115" cx="16.466213" cy="8.5147161" rx="5.9662137" ry="5.5147161" />
			</g>			

			<g  class="region" id="12"><a asp-controller="News" asp-action="Lviv">
			<title>   Львівська </title>
			<polygon points="473,459 473,465 470,467 466,468 459,474 449,478 442,481 440,485 438,485 432,483 424,483 418,485 414,491 414,498 406,502 412,509 412,511 403,514 359,518 351,521 342,530 336,551 327,550 322,548 312,546 306,539 295,538 286,524 283,511 283,498 292,477 315,454 381,413 400,410 405,403 408,402 412,397 413,393 416,393 420,396 427,395 430,394 434,399 439,399 440,401 440,403 435,404 439,411 445,410 456,416 468,415 476,415 479,421 483,420 487,421 486,427 485,433 500,446 500,450 495,454"
			/> </a></g>
			<g inkscape:label="layer1" inkscape:groupmode="layer" id="l1-lviv" transform="translate(368,439)">
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path1680" cx="16.5" cy="27" rx="16.5" ry="8" />
			<ellipse style="fill:#81b39b;fill-opacity:1;" id="path2460" cx="16.5" cy="26.5" rx="13.5" ry="5" />
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path2514" cx="16.5" cy="26.200001" rx="8.5" ry="3.5" />
			<ellipse style="fill:#ffffff;" id="path900" cx="16.578062" cy="8.5784473" rx="10.078063" ry="8.5784473" />
			<path sodipodi:type="star" style="fill:#ffffff;fill-opacity:1;" id="path3459" inkscape:flatsided="false" sodipodi:sides="3" sodipodi:cx="6.0952125" sodipodi:cy="17.737392" sodipodi:r1="7.4174542" sodipodi:r2="3.7087271" sodipodi:arg1="1.5707963" sodipodi:arg2="2.6179939" inkscape:rounded="0" inkscape:randomized="0" d="m 6.0952127,25.154847 -3.2118522,-5.563091 -3.21185195,-5.563091 6.42370395,0 6.4237035,0 -3.2118517,5.563091 z" inkscape:transform-center-y="2.1923152" transform="matrix(1.3830775,0,0,1.1822464,8.1482892,-3.9713375)" />
			<ellipse style="fill:#81b39d;fill-opacity:1;" id="path115" cx="16.466213" cy="8.5147161" rx="5.9662137" ry="5.5147161" />
			</g>

		<g class="region" id="2">
			<a asp-controller="News" asp-action="Volyn">
			<title>   Волинська </title>
			<polygon points="509,290 540,294 539,299 528,308 528,313 534,317 530,321 528,336 547,333 548,339 563,348 563,350 555,355 557,358 561,358 564,361 563,364 555,367 557,369 553,376 546,379 543,388 541,390 531,386 520,387 513,389 506,389 505,394 499,394 500,398 486,400 488,402 487,405 483,406  488,410 488,413 482,417 474,413 456,415 448,409 455,414 447,409 440,410 439,405 442,403 442,399 437,398 433,395 422,395 417,392 409,399 405,376 408,375 394,366 390,336 393,331 392,315 425,312 455,296 491,290"
			/> </a></g>
			<g inkscape:label="layer1" inkscape:groupmode="layer" id="l1-volyn" transform="translate(460,319)">
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path1680" cx="16.5" cy="27" rx="16.5" ry="8" />
			<ellipse style="fill:#81b39b;fill-opacity:1;" id="path2460" cx="16.5" cy="26.5" rx="13.5" ry="5" />
			<ellipse style="fill:#3b405b;fill-opacity:1;" id="path2514" cx="16.5" cy="26.200001" rx="8.5" ry="3.5" />
			<ellipse style="fill:#ffffff;" id="path900" cx="16.578062" cy="8.5784473" rx="10.078063" ry="8.5784473" />
			<path sodipodi:type="star" style="fill:#ffffff;fill-opacity:1;" id="path3459" inkscape:flatsided="false" sodipodi:sides="3" sodipodi:cx="6.0952125" sodipodi:cy="17.737392" sodipodi:r1="7.4174542" sodipodi:r2="3.7087271" sodipodi:arg1="1.5707963" sodipodi:arg2="2.6179939" inkscape:rounded="0" inkscape:randomized="0" d="m 6.0952127,25.154847 -3.2118522,-5.563091 -3.21185195,-5.563091 6.42370395,0 6.4237035,0 -3.2118517,5.563091 z" inkscape:transform-center-y="2.1923152" transform="matrix(1.3830775,0,0,1.1822464,8.1482892,-3.9713375)" />
			<ellipse style="fill:#81b39d;fill-opacity:1;" id="path115" cx="16.466213" cy="8.5147161" rx="5.9662137" ry="5.5147161" />
			</g>	
	

</svg>
</div>
<script src="API.js"></script>